.anim{
    animation: mymove 1.5s   ;
    
}
@keyframes leaves {
    0% {
      top:100%;
    }
    100% {
       top:0%
    }
}
@keyframes mymove {
    from {right: 20%;}
    to {right:0%}
  }


button{
    background: linear-gradient(#141923,#141923) padding-box,linear-gradient(to right,#7b72cc,#dc0078,#3871d6) border-box;
    border-radius: 50em;
    display: block;
    box-sizing: border-box;
    height: 45px;
    margin: 0 auto;
    border: 2px solid transparent;
    color: #fff;
    min-width: 100px;
    align-items: center;
   width:310px;
}
/* img{
    box-sizing: border-box;  
    margin: 0 auto;
} */
button {
    cursor: pointer;
}
p{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));

}
p img{
    
    display:inline-block;
    vertical-align:middle;
    margin-right:5px;
  }
  img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(#3A3A3A, #3A3A3A), radial-gradient(circle at top left, #f00,#3020ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: inline-block;
   border: 2px solid;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
          border-image-source:linear-gradient(to right,#7b72cc,#dc0078,#3871d6)  ;
  }
  