
<!-- <div class="anim" style="
position: relative;
">
<div style="background-color: green;
position: absolute;
right: 0;
left: 0;
top: 0;
bottom: 0;
margin: auto;"><p align="center"><img  alt=""
    src="assets/images/avatar1.png"> DFSDFSDFsddsffffffff</p >   
<button class=" "  (click)="joinRoom()">Join a Room</button>
<br><br>
<button class=" "  (click)="createRoom()">Create a Room</button></div>

</div> -->
<span class="material-symbols-outlined">
  arrow_back
  </span>
<div class="anim container" 
>
<p align="center"><img  alt=""
    src="assets/images/{{avatar}}.png"> {{name}}</p > <br>  
<button class=" "  (click)="joinRoom()">Join a Room</button>
<br><br>
<button class=" "  (click)="createRoom()">Create a Room</button>

</div>
<span class="material-symbols-outlined" (click)="goBack()">
  arrow_back
  </span>