<div class="anim container">
    <p><img alt="" src="assets/images/{{avatar}}.png"> {{name}}</p>
    <h1 >Room name</h1>
    <form [formGroup]="requiredForm" novalidate (submit)="createRoom()">
        <input [(ngModel)]="roomName" class="form-control" formControlName="roomName" type="text"
            placeholder="-Type here-" (ngModelChange)="nameChange($event)" /><br>
        <h1 >No. of players</h1>
        <input class="form-control" [(ngModel)]="noOfPlayers" formControlName="noOfPlayers" type="text"
            placeholder="-Type here-" (ngModelChange)="playerChange($event)" (keypress)="changeEvent($event)" />

        <br><br>
        <button type="submit" [disabled]="disabled">Create</button>
    </form>
</div>
<span class="material-symbols-outlined" (click)="goBack()">
    arrow_back
</span>