.anim{
    animation: leaves 1.5s   ;
    
}
@keyframes leaves {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}
input[type=text]:focus {
    outline: none;
}
input[type=text]{
    box-sizing: border-box;
display: block;

height: 45px;
    width: 480px;
    padding-left: 10px;
    border-radius: 10px;
    background: linear-gradient(#141923,#141923) padding-box,linear-gradient(to right,#7b72cc,#dc0078,#3871d6) border-box;
    border: 2px solid transparent;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
button[disabled]{
    background: #3a3a3a;
    color: #9e9e9e;
    cursor:default;
    border: 1.6px solid #b0b0b0;
}
button{
    background: linear-gradient(#141923,#141923) padding-box,linear-gradient(to right,#7b72cc,#dc0078,#3871d6) border-box;
    border-radius: 50em;
    display: block;
    box-sizing: border-box;
    height: 45px;
    margin: 0 auto;
    border: 2px solid transparent;
    color: #fff;
    min-width: 100px;
    align-items: center;
    padding: 0 3em;
}
button {
    cursor: pointer;
}